/* Style for the whole tagstable section */
.tagsTable{
  margin-top: 10px;
}

.tagsTable > form.uk-search.uk-search-default {
  margin: auto;
  display: flex;
  width: 70%;
}

.tableHeadRow > th {
  text-align: center;
}

.tableBodyRow > td {
  font-size: 14px;
  /* text-align: center; */
  word-break: break-word;
}
.tableContainer{
  padding: 10px 0;
  height: 555px;
  overflow-y: auto;
}

/* Pagination styles */
.tagsPagination{
  list-style: none;
}
ul.tagsPagination > li{
  display: inline-block;
  margin: 0 10px;
}
ul.tagsPagination > li > a{
  color: grey;

}
ul.tagsPagination > li.activePage > a{
  color: blue;
}

/* Modal box styles */
.uk-modal-footer{
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
}
